{% extends 'baseadmin.html.twig' %}

{% block title %} Panell de control {% endblock %}



{% block body %}

{% for message in app.session.flashbag().get('Message')  %}
    <div class="alert-message-success" data-module="alertMessages">
        <div class="wrap">
            <span>{{ message }} </span>
        </div>
    </div>
{% endfor %}

<section class="admin-header-suply" data-module="aceEditor">
    <div class="container">
        <div class="row">
            <div class="col">
                <section class="wrap" >
                
                

                <h1 class="title"> Editar Manifest </h1>
                    <div id="javascript-editor"> {{ LatestUpdate }}  </div>
                    <form action="/success" class="mt-2" method="post">
                        <input type="hidden" value="" name="content" id="content"/>
                        <div class="mb-4">
                            <button type="submit" class="btn btn-dark btn-block ">Actualitzar manifest</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</section>
<section class="myupdates">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> Les meves actualitzacions </h1>
                    {% for MyUpdate in MyUpdates %}
                    <div class="manifestUpdates">
                        {{ MyUpdate.getContent() | raw }}
                        <span class="dataactualizacio"> {{ MyUpdate.getupdatedat() |date('d-m-Y') }} </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{# {{ dump(app.user) }} #}

{% endblock %}
