{% extends 'base.html.twig' %}
{% block title %}Registre{% endblock %}

{% block header %}
{% endblock %}

{% block body %}

{% for message in app.session.flashbag().get('Message')  %}
    <div>{{ message }}</div>
{% endfor %}


<section class="form" data-module="form">
    
    <div class="container text-center">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 ">
                <div class="inset">
                    <h1 class="title">Registre</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                    <div class="text-center">
                        <p> <a href="{{ path('app_login') }}"> Tornar al Login </a></p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>
{% endblock %}